secrets.zsh
test.sh
test_api.production.sh
test_api.staging.sh
test_api.local.sh
rerun.txt
.ruby-version
test_build
.setup.zsh
s3.yml
*%*
.pentadactyl/info/default/registers
.mpd/tag_cache
vendor/plugins/delayed_job/lib/delayed/worker.rb
.pwman/history
*.mk4
.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/register-ring
.mpd/pid
.mpd/state
vendor/plugins/delayed_job/lib/delayed/worker.rb
lib/tasks/todd.rake
.rsync_exclusions
.rake_tasks
.elinks/globhist
.rediscli_history
.kde4/
.purple/
.rvm
.rvm.old/
.vim_mru_files
public_html/
*~
.compiz-1/
.gimp*
.fehbg
yankring_history_v2.txt
.opera
.navicat
.rbx
.elinks/globhist
.icedtea
.rachota
.SpiderOak
.java
.cmus/*
*.log
*.so
tags
.gnucash/
.dbshell
.cashdata.xml*
sketch/
.mysql/**/*
doc/
capscr
.vim/ruby/command-t/
*.o
music/
*.un~
.fonts.conf
.FontForge/
tmp
.RData
.cassandra.history
pkg/
tudu.xml
.zsh_history.*
.terminfo/
.ssh/known_hosts
.ssh/ls_dsa
.ssh/ls_rsa
.Rhistory
.pry_history
.pearrc
pear/
.DS_Store
*.swp
.libreoffice
.zsh-update
personal_config.git
.zcompdump
.offlineimap
prj
.zsh_history
.histfile
.FBReader/
.Skype
.ICEauthority
.VirtualBox/
.adobe/
.assistant/
.bash_history
.bash_logout
.bogofilter/
.byobu/
.cache/
.camel_certs/
.cgobanrc
.compiz/
.config/*
!.config/awesome/rc.lua
!.config/awesome/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.evolution/
.exclude
.fontconfig/
.fonts/
.gconf/
.gconfd/
.gem/
.gitk
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.irb-history
.irb_history
.irbrc.swp
.kde/
.lesshst
.local/
.macromedia/
.mission-control/
.pki/
.pulse-cookie
.pulse/
.qt/
.rdebug_hist
.recently-used.xbel
.rpmdb/
.rvm/
.shotwell/
.sqlite_history
.ssh/authorized_keys
.ssh/id_*
.ssh/*.pub
.sudo_as_admin_successful
.sudoku/
.thumbnails/
.tsclient/
.viminfo
.vimperator/
.xine/
.xscreensaver-getimage.cache
.xsession-errors
projects/
tags
*.log
*.orig
.CFUserTextEncoding
.NERDTreeBookmarks
.Trash/
.Xauthority
.autospec_growl/
.cups/
.gpg-agent-info
.indent.pro
.macports/
.rvm_history
.sh_history
.subversion/
.swo
.swp
_irbrc
bin/s3sync/
dbext_sql_history.txt
do.sql
dom.xml
l.tgz
m.sql
momo
output/
prime.sql
pubs
radio_active_keywords.txt
rdoc/
screen.tgz
screen/
source.html
synergy.conf
top_emails.sql
trash/
vimstuff.tgz
vimstuff/
.icons/
.mpop_uidls/
.mpoprc.swp
.muttrc.swp
.themes/
.*.swo
Firefox_wallpaper.png
Mail/
bin/syncit.rb
imac/
sent
techrc
vim-ruby/
.feed2imap.cache
.feed2imap.cache.lock
.mutt/cache/
.sup/feed2imap.log
.sup/sent.mbox
.sup/sources.yaml.bak
.sup/xapian.trash/
.sup/xapian/
.tudu.xml_lock
.vim/.netrwhist
bin/mpop.rb
log
postponed
sup-exception-log.txt
.weechat/
Podcasts/
Ubuntu One/
bin/gears.rb
hardcopy.5
.sup/drafts/
.sup/exception-log.txt
.sup/lock
.synaptic/
.cmus
.msmtprc
.ssh/config
.sup/contacts.txt
.sup/hooks/before-add-message.rb
.sup/labels.txt
.sup/sources.yaml
.tudu.xml
R/
wclust
.aptitude
.cmus/search-history
powerline.zsh-theme
.buildpath
.project
