snippet save "Save and open page" !b
save_and_open_page
debugger
endsnippet

snippet within "within a css block" !b
within("${1:css}") do
  ${2}
end
endsnippet

snippet have "content"
page.should have_content('${1:text}')
endsnippet

snippet have "css"
page.should have_css('${1:css}')
endsnippet
